<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getYearOfProduction()}">VALUE</p>
<!--<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>-->
<p th:text="${book.getId()}">VALUE</p>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<form th:action="@{/books/{id}(id=${book.getId()})}" th:method="DELETE">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>